<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Spinnaker</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About Spinnaker </h1>
    <p> Spinnaker is a open source multi cloud continuous delivery platform that helps to release software changes.</p>
    <p> Developed Netflix. It enables teams to automate deployments across multiple cloud accounts and regions even accross multiple cloud platforms, into coherent pipelines that run forever whenever a new version in released. Netflix deployed its first microservice to the cloud in 2009.</p>
      
    {% endblock %}
  </body>
</html>